.centerleft {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 40%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .centerright {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 60%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .button {
    border: none;
    color: rgb(0, 0, 0);
    padding: 15px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button:hover {
  background-color: rgba(0, 255, 140, 0);
  color: rgb(0, 0, 0);
}
  .embutton{
    background-color: rgba(119, 0, 255, 0.933);
    border: 2px solid rgba(119, 0, 255, 1);
  }
  .prbutton{
    background-color: rgba(29, 137, 173, 0.933);
    border: 2px solid rgba(29, 137, 173, 1);
  }
  .sltbutton{
    background-color: rgba(65, 29, 173, 0.933);
    border: 2px solid rgba(65, 29, 173, 0.933);
  }
  .bookbutton{
    background-color: rgba(74, 185, 10, 0.933);
    border: 2px solid rgba(74, 185, 10, 0.933);
  }
  .bkbutton{
    background-color: rgba(0, 255, 140, 0.933);
    color: rgb(0, 0, 0);

  }
  .indexb {
    border-radius: 30px;
    background-color: rgb(0, 255, 242);
    border: 2px solid rgba(0, 255, 242);
  }
.p2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.p1{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}
.b1{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 20px;
}
  